@font-face {
    font-family: 'JennaSue';
    src: url('../fonts/JennaSue.eot');
    src: url('../fonts/JennaSue.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/JennaSue.woff') format('woff'),
         url('../fonts/JennaSue.ttf') format('truetype'),
         url('../fonts/JennaSue.svg#JennaSue') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #F7F7F9;
}

.navbar {
  margin-bottom: 0;
}

section.main {
    width: 100%;
    background: #FFF;
    padding: 20px 0;
    padding-bottom: 100px;
}

.buttons {
  text-align: left;
  padding-bottom: 10px;
}

.btn {
  font-size: 12px;
}

a.navbar-brand {
  font-family: "JennaSue",Arial,Helvetica,sans-serif;
  font-size: 38px;
}

footer {
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding: 20px 10px 0;
}

footer > p {
  margin: 0;
}

.index h2 {
  margin-top: 0;
}

.download img.logo {
  width: 100px;
}

.about img.logo {
  width: 60px;
  display: inline;
}

.icon-group {
  padding-top: 10px;
}

a.downloadItem {
   text-align: center;
   display: inline-block;
   margin: 0 auto;
   width: 200px;
}

a.downloadItem > img {
  margin: 0 auto;
  padding-top: 10px;
}

a.downloadItem > label {
  cursor: pointer;
  padding-top: 12px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.support h3, .support h4 {
  border-bottom: 1px solid #eee;
  border-bottom-color: #eee -moz-use-text-color -moz-use-text-color;
  padding-bottom: 5px;
}

.support ul {
  list-style: none;

}

.support p, .support ul {
  padding-left: 15px;
}

#belle {
  padding: 0;
}

ul#faq {
  padding-top: 20px;
}

ul#faq p {
  margin: 0;
}

ul#faq > li {
  padding-top: 20px;
}

.about h2.first {
  margin-top: 20px;
}

.demo #game-frame {
  background: none;
  border: none;
  max-height: 600px;
  max-width: 800px;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.demo #game-frame-container {
  text-align: center;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .nav.navbar-nav {
    padding-left: 15px;
  }

  .btn {
    font-size: 14px;
  }

  a.navbar-brand {
    font-family: "JennaSue",Arial,Helvetica,sans-serif;
    font-size: 44px;
  }

  .index .buttons {
    padding-top: 20px;
  }

  .cross-platform {
    padding-bottom: 32px;
  }

  .about .icon-group {
    position: absolute;
    top: 27px;
    left: 80px;
  }

  .about .icon-group > img {
    width: 40px;
  }

  .about h2 {
    margin-top: 45px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

 .about .icon-group {
    left: 30px;
  }

}
