@font-face {
font-family: 'Graziano';
src: url('Graziano.eot?#iefix') format('embedded-opentype'),
url('Graziano.ttf') format('truetype'),
url('Graziano.oft') format('opentype'),
url('Graziano.woff') format('woff'),
url('Graziano.svg#Graziano') format('svg');
font-weight: normal;
font-style: normal;
}
